PORT=3000
NODE_ENV=production

DATABASE_HOST=dummy-host
DATABASE_PORT=5432
DATABASE_USER=dummy-user
DATABASE_PASSWORD=dummy-password
DATABASE_NAME=dummy-db
DATABASE_URL=postgresql://dummy-user:dummy-password@dummy-host:5432/dummy-db?schema=public

REDIS_HOST=dummy-host
REDIS_PORT=6379

CORS_ORIGINS=http://dummy-origin:3000,http://dummy-origin:3001,http://dummy-origin:5173

THROTTLE_TTL=60000
THROTTLE_LIMIT=100

JWT_SECRET="<Secrets goes here>"
JWT_EXPIRES_IN="7d"

LOG_LEVEL=debug
INSTANCE_ID=local-dev

SOCKET_TEST_USER_A_TOKEN=test-token
SOCKET_TEST_USER_B_TOKEN=test-token-b
SOCKET_TEST_CONVERSATION_ID=test-conversation-id
SOCKET_TEST_URL=http://localhost:8080/chat
SOCKET_TEST_MESSAGE_ID=test-message-id