PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=chat_user
DATABASE_PASSWORD=chat_password
DATABASE_NAME=realtime_chat
DATABASE_URL="postgresql://chat_user:chat_password@localhost:5432/realtime_chat?schema=public"

REDIS_HOST=localhost
REDIS_PORT=6379